/* eslint-disable */

<template>
  <div>
    <h3 style="color: teal;">Вход</h3>
    <form @submit.prevent="login">
      <my-input v-model="email" type="email" placeholder="Email" required v-focus/>
      <my-input v-model="password" type="password" placeholder="Password" required/>
      <my-button type="submit">Войти</my-button>
      <p v-if="error">{{ error }}</p>
    </form>
    <my-button @click="redirectToRegister">Зарегистрироваться</my-button>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'LoginForm',
  data() {
    return {
      email: '',
      password: '',
      error: null
    };
  },
  methods: {
    async login() {
      try {
        const response = await axios.post('/api/login', {
          email: this.email,
          password: this.password
        });
        localStorage.setItem('token', response.data.accessToken);
        this.$router.push('/'); 
      } catch (error) {
        this.error = error.response.data.message;
      }
    },
    redirectToRegister() {
      this.$router.push('/register')
    }
  }
}
</script>

