<template>
  <div class="navbar">
    <my-button @click="$router.push('/')">Поиск</my-button>
    <div class="navbar__btns">
      <my-button @click="$router.push('/notes')">Заметки</my-button>
      <div class="navbar__spacer"></div> <!-- Добавляем пустой элемент для создания пробела -->
      <my-button v-if="isAuthenticated" @click="logout">Выйти</my-button>
      <my-button v-else @click="$router.push('/login')">Войти</my-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      isAuthenticated: !!localStorage.getItem('token')
    };
  },
  methods: {
    async logout() {
      try {
        const response = await axios.post('/api/logout', {
          refreshToken: localStorage.getItem('refreshToken')
        });
        console.log(response.data);
        localStorage.removeItem('token');
        localStorage.removeItem('refreshToken');
        this.isAuthenticated = false;
        this.$router.push('/login');
      } catch (error) {
        console.error('Ошибка при выходе:', error);
      }
    }
  },
  watch: {
    '$route': function() {
      this.isAuthenticated = !!localStorage.getItem('token');
    }
  }
};
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.navbar__btns {
  margin-left: auto;
  display: flex; /* Добавляем свойство для выравнивания элементов в строке */
}
.navbar__spacer {
  width: 15px; /* Задаем ширину пробела между кнопками */
}
</style>
