<template>
    <div>
      <h3 style="color: teal;">Новый пароль</h3>
      <form @submit.prevent="saveNewPassword">
        <my-input v-model="newPassword" type="password" placeholder="Password" required v-focus/>
        <my-button type="submit">Изменить</my-button>
  
        <div v-if="showSuccessMessage" class="success-message">
          Пароль успешно сохранен
        </div>
        <div v-if="showErrorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    name: 'NewPasswordForm',
    mounted() {
    // Извлечение токена из URL
    this.token = this.$route.query.token;
   
  },
    data() {
      return {
        newPassword: '',
        showSuccessMessage: false,
        showErrorMessage: false,
        errorMessage: '',
      };
    },
    methods: {
      async saveNewPassword() {
        try {
          const response = await axios.post('/api/new-password', {
            token: this.token,
            newPassword: this.newPassword
          });
          if (!response.data.success) {
            console.log(response.data.message);
            this.showSuccessMessage = true;
            setTimeout(() => {
              this.showSuccessMessage = false;
            }, 3000);
          } else {
            this.showErrorMessage = true;
            this.errorMessage = response.data.message;
          }
        } catch (error) {
          this.showErrorMessage = true;
          this.errorMessage = error.message;
        }
      }
  
    }
  }
  </script>
  