<template>
  <form @submit.prevent>
    <h4>Создание заметки</h4>
    <my-input 
      v-model.trim="note.title"
      type="text" 
      placeholder="Название"
    />
    <note-input
      v-focus
      v-model.trim="note.body"
      type="text"
    />
    <my-button 
      class="btn" 
      style="align-self: flex-end; margin-top: 15px;"
      @click="saveNote"
    >
      Сохранить заметку
    </my-button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      note: {
        title: '',
        body: '',
      }
    }
  },    
  methods: {
    saveNote() {
      if (!this.note.body.trim()) {
        // Если поле note.body пустое, выходим из метода
        return;
      }
      this.$emit('save', this.note)
      this.note = {
        title: '',
        body: ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
form {
  display: flex;
  flex-direction: column;
}
</style>
