<template>
  <div class="note">
    <div>
      <div><strong>Заголовок:</strong>{{ note.title }}</div>
      <div class="note-body">{{ note.body }}</div>
    </div>
    <div class="note__btns">
      <my-button 
        @click="$router.push('/notes/' + note._id)"
      >
        Открыть
      </my-button>
      <my-button
        @click="$emit('remove', note)"
      >
        Удалить
      </my-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    note: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style lang="scss" scoped>
.note {
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  display: flex;
  flex-direction: column; /* Изменяем направление flex-контейнера на вертикальное */
  align-items: flex-start; /* Выравниваем элементы по левому краю */
}

.note__btns {
  display: flex;
  justify-content: flex-end; /* Выравниваем кнопки по правому краю */
  // margin-top: 10px;
  width: 100%; /* Устанавливаем ширину блока с кнопками на 100% */
}

.note-body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  // margin-bottom: 10px; /* Добавляем отступ снизу для разделения текста и кнопок */
}

/* Медиа-запросы для адаптации стилей при маленьком разрешении экрана */
@media screen and (max-width: 600px) {
  .note__btns {
    justify-content: center; /* Выравниваем кнопки по центру при маленьком разрешении */
  }

  .note-body {
    -webkit-line-clamp: 3;
  }
}

</style>
