<template>
  <div>
    <h3 style="color: teal;">Регистрация</h3>
    <form @submit.prevent="register">
      <my-input v-model="email" type="email" placeholder="Email" required v-focus/>
      <my-input v-model="password" type="password" placeholder="Password" required/>
      <my-button type="submit">Регистрация</my-button>
    </form>
    
    <div>
      <my-button @click="redirectToResetPassword">Изменить||Сбросить пароль</my-button>
    </div>

    <div>
      <h4 style="color: grey;">Пользовательское соглашение</h4>
      <p>
        При регистрации на нашем сайте/приложении вы даете согласие на сбор и хранение вашего email-адреса в нашей базе данных. Мы обязуемся не передавать ваш email третьим лицам без вашего согласия. Мы используем ваш email-адрес исключительно для целей, связанных с предоставлением наших услуг и информирования вас о важных обновлениях или событиях. Вы можете в любой момент отказаться от получения такой информации, обратившись к нам по указанным контактным данным.
      </p>
      <h5>smartnotesai@mail.ru</h5>
    </div>

    <p v-if="error">{{ error }}</p>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'RegistrationForm',
  data() {
    return {
      email: '',
      password: '',
      error: null
    };
  },
  methods: {
    async register() {
      try {
        const response = await axios.post('/api/registration', {
          email: this.email,
          password: this.password
        });
        console.log(response);
        this.$router.push('/login');
      } catch (error) {
        this.error = error.response.data.message;
      }
    },
    redirectToResetPassword() {
      this.$router.push('/reset-password');
    }
  }
}
</script>
