<template>
  <div>
    <h3 style="color: teal;">Сбросить или изменить пароль</h3>
    <form @submit.prevent="resetPassword">
      <my-input v-model="email" type="email" placeholder="Email" required v-focus/>
      <my-button type="submit">Изменить || Сбросить пароль</my-button>

      <div>
        <h4 style="color: grey;">Пользовательское соглашение</h4>
        <p>
          При регистрации на нашем сайте/приложении вы даете согласие на сбор и хранение вашего email-адреса в нашей базе данных. Мы обязуемся не передавать ваш email третьим лицам без вашего согласия. Мы используем ваш email-адрес исключительно для целей, связанных с предоставлением наших услуг и информирования вас о важных обновлениях или событиях. Вы можете в любой момент отказаться от получения такой информации, обратившись к нам по указанным контактным данным.
        </p>
        <h5>smartnotesai@mail.ru</h5>
      </div>
      <div v-if="showSuccessMessage" class="success-message">
        Заметка успешно сохранена
      </div>
      <div v-if="showErrorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'ResetPasswordForm',
  data() {
    return {
      email: '',
      showSuccessMessage: false,
      showErrorMessage: false,
      errorMessage: '',
    };
  },
  methods: {
    async resetPassword() {
      try {
        const response = await axios.post('/api/reset-password', {
          email: this.email
        });
        if (!response.data.success) {
          console.log(response.data.message);
          this.showSuccessMessage = true;
          setTimeout(() => {
            this.showSuccessMessage = false;
          }, 3000);
        } else {
          this.showErrorMessage = true;
          this.errorMessage = response.data.message;
        }
      } catch (error) {
        this.showErrorMessage = true;
        this.errorMessage = error.message;
      }
    }

  }
}
</script>
