<template>
  <div>
    <h3 style="color: teal;">Приложение SmartNoteAI</h3>
    <div>
      <my-input v-model="query" placeholder="Введите запрос до 100 символов" :maxlength="100"/>
      <my-button @click="search">Поиск</my-button>
      <!-- Loading indicator -->
      <div v-if="isLoading">
        Идет поиск...
      </div>
      <div v-for="note in searchResults" :key="note._id">
        <textarea :value="note.body" rows="5" readonly></textarea>
      </div>
    </div>
    <my-button @click="downloadNotes">Скачать все заметки</my-button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      query: '',
      searchResults: [],
      isLoading: false, // Add this line
    };
  },
  methods: {
    async search() {
      this.isLoading = true; // Start loading
      try {
        const token = localStorage.getItem('token');
        const response = await axios.post(
          '/search',
          { query: this.query },
          {
            headers: {
              'Authorization': `Bearer ${token}`, 
            },
          }
        );
        this.searchResults = response.data.relevant_notes;
        console.log(this.searchResults);
      } catch (error) {
        console.error('Ошибка при поиске заметок:', error);
      } finally {
        this.isLoading = false; // Stop loading regardless of result
      }
    },

    async downloadNotes() {
      try {
        const token = localStorage.getItem('token');
        const response = await axios.get('/fastapi/search/api/downloadNotes', {
          headers: {
            'Authorization': `Bearer ${token}` // Corrected syntax
          },
          responseType: 'blob'
        });

        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'notes.txt');
        document.body.appendChild(link);
        link.click();
      } catch (error) {
        console.error('Ошибка при скачивании заметок:', error);
      }
    }
  }
}
</script>


<style lang="scss" scoped>

</style> 