<template>
  <div>
    <div v-if="showMarkdown">
      <div v-html="formatMarkdown(editedNote)"></div>
    </div>
    <textarea v-model="editedNote" rows="10" :maxlength="8000"></textarea>
    <div>
      <my-button @click="updateNote" style="margin-top: 10px">Сохранить изменения</my-button>
      <my-button @click="toggleMarkdown" style="margin-top: 10px; margin-left: 10px;">Показать/скрыть Markdown</my-button>
    </div>
    <div>
      <my-input type="file" ref="fileInput" @change="handleFileChange" style="width: fit-content"/><p>загрузите ZIP архив с вашими заметками в формате MD</p>
    </div>
    <div>
      <my-button @click="uploadZip">Upload ZIP</my-button>
      <div v-if="showSuccessMessage" class="success-message">
        Заметки из ZIP успешно загружены
      </div>
      <div v-if="showErrorMessage" class="error-message">
        Произошла ошибка при загрузке ZIP
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import MarkdownIt from 'markdown-it';

export default {
  data() {
    return {
      noteId: this.$route.params.id,
      note: {},
      editedNote: '',
      showSuccessMessage: false,
      showErrorMessage: false,
      errorMessage: '',
      showMarkdown: false, // Флаг для показа блока с Markdown
      file: null, // Файл для загрузки
    };
  },
  created() {
    this.fetchNote();
  },
  methods: {
    handleFileChange(event) {
      this.file = event.target.files[0];
    },
    async uploadZip() {
      const token = localStorage.getItem('token');
      const formData = new FormData();
      formData.append('file', this.file);

      try {
        await axios.post('/api/upload', formData, {
          headers: {
            'Authorization': `Bearer ${token}`
          }
        });
        this.showSuccessMessage = true; // Показываем сообщение об успешной загрузке
        console.log('ZIP file uploaded successfully');
      } catch (error) {
        this.showErrorMessage = true; // Показываем сообщение об ошибке
        console.error('Error uploading ZIP file:', error);
      }
    },
    async fetchNote() {
      try {
        const token = localStorage.getItem('token');
        const response = await axios.get('/api/note/' + this.noteId, {
          headers: {
            'Authorization': `Bearer ${token}`
          }
        });
        this.note = response.data.note;
        this.editedNote = this.note.body;
      } catch (error) {
        console.error('Ошибка получения заметки:', error);
      }
    },
    
    async updateNote() {
      try {
        const token = localStorage.getItem('token');
        const response = await axios.post('/api/updateNote/' + this.noteId,{body: this.editedNote}, {
          headers: {
            'Authorization': `Bearer ${token}`
          }
        });
        if (!response.data.success) {
          console.log(response.data.message);
          this.showSuccessMessage = true;
          setTimeout(() => {
            this.showSuccessMessage = false;
          }, 3000);
        } else {
          this.showErrorMessage = true;
          this.errorMessage = response.data.message;
        }
      } catch (error) {
        console.error('Ошибка сохранения заметки:', error);
        this.showErrorMessage = true;
        this.errorMessage = 'Произошла ошибка при сохранении заметки';
      }
    },

    formatMarkdown(markdownText) {
      const md = new MarkdownIt();
      return md.render(markdownText);
    },
    toggleMarkdown() {
      this.showMarkdown = !this.showMarkdown; // Переключаем состояние показа блока с Markdown
    }
  }
};
</script>

<style>
.success-message {
  color: green;
  font-size: 16px;
  margin-top: 10px;
}
.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
</style>
