<template>
  <div>
    <h3 style="color: teal;">Заметки</h3>
    <my-input
      v-model="searchQuery"
      placeholder="Поиск..."
      v-focus
    />
    <div class="app__btns">
      <my-button 
        @click="showDialog"
      >
        Создать заметку
      </my-button>
      <my-select
        v-model="selectedSort"
        :options="sortOptions"
      />
    </div>
    <my-dialog v-model:show="dialogVisible">
      <note-form
      @save="saveNote"
      />
    </my-dialog>
    <note-list 
      :notes="sortedAndSearchedNotes"
      @remove="removeNote"
      v-if="!isNotesLoading"
    />
    <div v-else>Идет загрузка...</div>
    <div v-intersection="loadMoreNotes" class="observer"></div>
    

  </div>
</template>

<script>
import axios from 'axios'; // Импорт axios из плагина

import NoteForm from "@/components/NoteForm";
import NoteList from "@/components/NoteList";
import { useNotes } from "@/hooks/useNotes";
import useSortedNotes from "@/hooks/useSortedNotes"
import useSortedAndSearchedNotes from "@/hooks/useSortedAndSearchedNotes"

export default {
  components: {
    NoteForm, 
    NoteList
  },
  data() {
    return {
      dialogVisible: false,
      sortOptions: [
        { value: 'title', name: 'По названию' },
        { value: 'body', name: 'По содержимому' },
      ],
      isLoadingMore: false // Инициализируем переменную isLoadingMore
    }
  },
  methods: {
    async saveNote(note) {
      try {
        const token = localStorage.getItem('token');
        const response = await axios.post('/api/saveNote', note, {
          headers: {
            'Authorization': `Bearer ${token}` // Передаем токен в заголовке запроса
          }
        });
        // Обновляем список заметок после успешного сохранения
        this.notes.unshift(response.data.note); // Добавляем полный объект заметки в начало списка
        this.dialogVisible = false;
      } catch (error) {
        console.error('Ошибка сохранения заметки:', error);
      }
    },

    async removeNote(note) {
      try {
        const token = localStorage.getItem('token');
        await axios.delete(`/api/remove-note/${note._id}`, {
          headers: {
            'Authorization': `Bearer ${token}` 
          }
        }); 
        this.notes = this.notes.filter(n => n._id !== note._id);
      } catch (error) {
        console.error('Ошибка удаления заметки:', error);
      }
    },
    showDialog() {
      this.dialogVisible = true;
    },
    async loadMoreNotes() {
      try {
        if (!this.isLoadingMore && this.page < this.totalPages) {
          this.isLoadingMore = true;
          this.page += 1;
          const response = await axios.get('notes', {
            params: {
              _page: this.page,
              _limit: this.limit
            }
          });
          const responseData = response.data;
          this.notes = [...this.notes, ...responseData];
        }
      } catch (error) {
        console.error('Ошибка загрузки данных:', error);
      } finally {
        this.isLoadingMore = false;
      }
    },

  },
  setup() {
    const { notes, totalPages, isNotesLoading } = useNotes(10);
    const { sortedNotes, selectedSort } = useSortedNotes(notes);
    const { searchQuery, sortedAndSearchedNotes } = useSortedAndSearchedNotes(sortedNotes);

    return {
      notes,
      totalPages,
      isNotesLoading,
      sortedNotes,
      selectedSort,
      searchQuery,
      sortedAndSearchedNotes,
    }
  }
}
</script>

<style>
.app__btns {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.page__wrapper {
  display: flex;
  margin-top: 15px;
}
.page {
  border: 1px solid grey;
  padding: 10px;
}
.current_page {
  border: 2px solid teal;
}
.observe {
  height: 30px;
  background: gray;
}
</style>
