<template>
  <input 
    :value="modelValue" 
    @input="updateInput" 
    class="input" 
    type="text"
    maxlength="100" 
  >
</template>

<script>
export default {
  name: 'my-input',
  props: {
      modelValue: [String, Number]
  },
  methods: {
    updateInput(event) {
      // Проверяем длину введенного текста и обрезаем его, если превышает 100 символов
      let newValue = event.target.value;
      if (newValue.length > 100) {
        newValue = newValue.slice(0, 100);
      }
      this.$emit('update:modelValue', newValue);
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  border: 1px solid teal;
  padding: 10px 15px;
  margin-top: 15px;
}
</style>
