<template>
  <textarea
    :value="modelValue"
    @input="updateInput"
    class="textarea"
    placeholder="Текст"
    maxlength="8000" 
  ></textarea>
</template>

<script>
export default {
  name: 'note-input',
  props: {
    modelValue: String
  },
  methods: {
    updateInput(event) {
      // Проверяем длину введенного текста и обрезаем его, если превышает 5000 символов
      let newValue = event.target.value;
      if (newValue.length > 5000) {
        newValue = newValue.slice(0, 5000);
      }
      this.$emit('update:modelValue', newValue);
    }
  }
}
</script>

<style scoped>
.textarea {
  width: 100%;
  border: 1px solid teal;
  padding: 10px 15px;
  margin-top: 10px;
  resize: vertical;
}
</style>
